.nav-item{
    text-decoration: none;
    font-weight: 500;
    transition: all 1s;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
}

.nav-item:hover{
    background-color: #fdc964;
}